<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<contextName>obs-config-client</contextName>
	<property name="LOG_DATEFORMAT_PATTERN" value="yyyy-MM-dd'T'HH:mm:ss.SSS" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
			<jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
				<prettyPrint>false</prettyPrint>
			</jsonFormatter>
			<timestampFormat>${LOG_DATEFORMAT_PATTERN}</timestampFormat>
			<appendLineSeparator>true</appendLineSeparator>
			<includeContextName>false</includeContextName>
			<includeMDC>true</includeMDC>
		</layout>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>